version: '3'
services:
  api:
    image: "simple_proj_api:latest"
    ports:
      - "5000:5000"

  api-worker:
    image: "simple_proj_api_worker:latest"

  worker:
    image: "simple_proj_worker:latest"

  redis:
    image: "redis:alpine"

  db:
    image: "mysql"
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_ROOT_PASSWORD: 'password'
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - data_volume:/var/lib/mysql
      - ./db/migrations/:/docker-entrypoint-initdb.d/

volumes:
  data_volume:

