version: '3'
services:
  api:
    image: "simple_proj_api:latest"
    ports:
      - "5000:5000"

  api-worker:
    image: "simple_proj_api_worker:latest"

  worker:
    image: "simple_proj_worker:latest"

  redis:
    image: "redis:alpine"
