version: '3'
services:
  api:
    image: "simple_proj_api:latest"
    ports:
      - "5000:5000"
    depends_on:
      - rabbitmq

  worker:
    image: "simple_proj_worker:latest"
    depends_on:
      - rabbitmq

#  redis:
#    image: "redis:alpine"

#  db:
#    image: mysql
#    restart: always
#    environment:
#      MYSQL_DATABASE: 'db'
#      MYSQL_USER: 'user'
#      MYSQL_PASSWORD: 'password'
#      MYSQL_ROOT_PASSWORD: 'password'
#    command: --default-authentication-plugin=mysql_native_password
#    ports:
#      - '3306:3306'
#    expose:
#      - '3306'
#    volumes:
#      - ./db/data_volume:/var/lib/mysql
#      - ./db/initialize/:/docker-entrypoint-initdb.d/
#
#  migration:
#    image: mathewhall/mysql_migration
#    volumes:
#      - ./db/migrations:/docker-entrypoint-migrations.d
#    depends_on:
#      - db
#    environment:
#      MYSQL_HOST: db
#      MYSQL_DATABASE: db
#      MYSQL_USER: user
#      MYSQL_PASSWORD: password

  rabbitmq:
    image: rabbitmq:management
    command: rabbitmq-server
    ports:
      - "15672:15672"
      - "5672:5672"

    volumes:
      - ./volumes/rabbitmq:/var/lib/rabbitmq

volumes:
  data_volume:

